.right-align-quote {
  max-width:60%;
  clear:both;
  position:relative;
  margin: auto;
  text-align:left;
  font-size:80%;
  line-height: 1.8;
  top:1em
}

.attribution {
  clear:both;
  position:relative;
  margin: 0;
  text-align:left;
  font-size:75%;
  top:-2.5em;
}
